.explore-card {
    height: 100%; /* Full height of the container */
    display: flex;
    flex-direction: column; /* Stack the image and body vertically */
    justify-content: space-between;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;


}

.explore-card .card-img-top {
    height: 500px;
    object-fit: cover;
}

.explore-card .card-body {
    flex-grow: 0;
    padding: 10px;
    text-align: center;
}
.body {
    background-color:  #fdfefe ;
    margin: 0;
    padding: 0;
}

.main-content {
    min-height: 100vh;
    background-color:  #fdfefe ;
}
