
.card-container {
    width: 100%;
    max-width: 600px;
}

.custom-card {
    height: 400px;
    width: 100%;
}

.card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.over-card-bg{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}


.another-card-body {
    padding: 1rem;
    text-align: left;

}
