.carousel-container {
    width: 100%;
    max-width: 1000px; /* Optional: Restrict max width for large screens */
    margin: 0 auto;
}

.carousel-item-container img {
    transition: transform 0.3s ease;
}

.carousel-item-container:hover img {
    transform: scale(1.05);
}
