.ExplorePage{
    position: relative; /* This makes .section-text relative to this container */
    padding-top: 100px; /* Add space for the navbar */
}
.section-text{
    position: relative;
    height: 100%;
    top: 20%;
    bottom: 60%;
    padding-left: 100px;

}
.header-destinations{
    border-bottom: coral;
    border-bottom: 2px;
}

.booking-list {
    display: flex;
    justify-content:space-around; /* Distribute cards evenly */
    gap: 20px; /* Space between cards */
    padding: 20px;
    flex-wrap: wrap;
    max-width: 100%;
    box-sizing: border-box;

    /* Allow wrapping for smaller screens */
}


