
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color: white;


    position: fixed;
    /*border-bottom: 2.5px solid white;*/
    background-color:darksalmon;
    z-index: 1000;
}
.text{
    padding: 20px;
    font-size: larger;
}

.logoDiv{
   display: flex;
    align-items: center;
    justify-content: center;

}
.menu{
    display: flex;
    gap: 20px;
    transition: .8s ease-in-out;
    backdrop-filter: blur(5px);

}
.nav-list{
    display: flex;
    gap: 80px;

}
.nav-buttons{
    display: flex;
    gap: 5px;
}
.nav-text{
    justify-content: space-between;
}
.sign-button{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: coral;
    color: white;
    margin-left: 0.5rem;
    width: 120px;
    height: 60px;

}
.login-button{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: coral;
    color: white;
    margin-left: 0.5rem;
    width: 120px;
}